= form_for @task do |f|
  - if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :project_id
    = f.collection_select(:project_id, @all_projects, :id, :name, :prompt => 'Please select project', multiselect: true) 
  .field
    = f.label :executer_id
    = f.collection_select(:executer_id, @all_users, :id, :name, :prompt => '') 
  .field
    = f.label :status
    = render partial: 'tasks/status_field', locals: {form: f, task: @task, all_statuses: @all_statuses}
  .field
    = f.label :persentage
    = f.number_field :persentage
  .field
    = f.label :description
    %br
    = f.text_area :description, size: '25x5'
   

  .actions
    = f.submit 'Save'
