%table.b-tasks
  %thead
    %tr
      %th Name
      %th Executer
      %th Status
      %th Persentage
      %th Project
      %th
      %th
      %th
      %th
  %tbody
    - tasks.each do |task|
      %tr
        %td= task.name
        %td= task.executer
        %td= task.status
        %td= task.persentage
        %td= task.project
        %td= link_to 'Show', task
        %td
          - if can_be_closed? task
            = link_to 'Close', close_task_path(task)
        %td 
          - if can? :update, task
            = link_to 'Edit', edit_task_path(task)
        %td
          - if can? :destroy, task
            = link_to 'Destroy', task, :method => :delete, :data => { :confirm => 'Are you sure?' }