%p
  %b Name:
  = @task
%p
  %b User:
  = @task.executer
%p
  %b Status:
  = t(@task.status)
%p
  %b Persentage:
  = @task.persentage
%p
  %b Project:
  = @task.project
%p
  %b Description
  %br
    = @task.description
- if can? :update, @task
  = link_to 'Edit', edit_task_path(@task)
  \|
= link_to 'All Tasks', tasks_path
