= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    = f.text_field :name  
  .field
    = f.label :email
    = f.email_field :email   
  - if can? :block, @user
    .field
      = f.label :blocked
      = f.check_box :blocked

  - if can? :edit_roles, @user
    - User::ROLES.each do |role|
      = role.capitalize
      = check_box_tag "user[roles][]",role, @user.role?(role)
  .actions
    = submit_tag 'Save'
