%p.b-filter-project
  = label :filter, :project_id
  = collection_select(:filter, :project_id, current_user.projects, :id, :name, include_blank: 'All projects')


%h1 
  User: 
  = current_user.name

%p
  %b Email:
  = current_user.email

= render partial: 'tasks/tasks_table', locals: {tasks: @all_user_tasks}

= link_to 'New Project', new_project_path(:owner_id=>current_user)
\|
= link_to 'Projects', projects_path