%h1.b-title
  Project:
  = @project.name
%p
  %b Owner:
  = @project.owner

= render partial: 'tasks/tasks_table',locals: {tasks: @project.tasks}

%p
  = link_to 'Add Task', new_project_task_path(@project)
  \|
  - if can? :update, @project
    = link_to 'Edit', edit_project_path(@project)
    \|
  = link_to 'Back', projects_path
