%p
  %b Name:
  = @project.name

%table
  %tr
    %th Name
    %th Executer
    %th Status
    %th Persentage
    %th Project
    %th
    %th
    %th

  - @project.tasks.each do |task|
    %tr
      %td= task.name
      %td= task.executer
      %td= task.status
      %td= task.persentage
      %td= task.project
      %td= link_to 'Show', task
      %td= link_to 'Edit', edit_task_path(task)
      %td= link_to 'Destroy', task, :method => :delete, :data => { :confirm => 'Are you sure?' }

%p
  = link_to 'Add Task', new_task_path(:project_id => @project)

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
